<div class="panel panel-default col">
  <%= link_to result["link"] || "#" do %>
    <%= image_tag (result["thumbnail"] || "#"), class: "img-responsive" %>
  <% end %>

  <div class="panel-body">
    <p class="lead">
    <%= result["title"] || "Camaro" %>
    <br>
    <small><%= result["price"] || "Unknown Price" %></small>
    </p>

    <p><strong><%= result["specs"] ? result["specs"].join(", ") : "No specs..." %></strong></p>

    <p><%= result["description"] || "No description..."%></p>
  </div>

  <div class="panel-footer">
    <% if result["link"] %>
      <%= link_to "View", result["link"], class: "view-more", target: "_blank" %>
    <% end %>
  </div>
</div>
